<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <table class="table table-bordered genre-search mt-5">
        <thead class="table-dark">
          <tr>
            <td>投稿一覧</td>
          </tr>
        </thead>
        <tbody>
          <% @summaries.each do |summary| %>
          <tr>
            <th><%= link_to summary.title, summary_path(summary.id) %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-9">
      <div class="card mb-1">
        <div class="card-body">
          <p>ジャンル：<%= @summary.genre.name %></p>
          <p class="card-text">
            <big><%= @summary.title %></br></big>
          </p>
          <p class="card-text">
            <small><%= simple_format @summary.sentence %></small>
          </p>
          <p>参考文献のURL</p>
          <% if @summary.url == "" %>
            <p>Blank</p>
          <% else %>
            <p class="card-text">
              <%= auto_link(simple_format(@summary.url)) %>
            </p>
          <% end %>
          <span class="edit-button">
            <%= link_to "編集する", edit_summary_path(@summary.id), class: "btn btn-primary" %>
            <%= link_to "削除する", summary_path(@summary.id), method: :delete, class: "btn btn-danger ml-5", data: { confirm: "本当に削除しますか？" } %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>