<div class="container mt-5">
  <div class="row">
    <div class="col-3 sidebar">
      <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#exampleModal">
        疑問を追加
      </button>
      <table class="table table-bordered genre-search mt-5">
        <thead>
          <tr>
            <td>ジャンル検索</td>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <th><%= genre.name %><%# link_to genre.name, items_path(genre_id: genre.id) %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-9 sidebar questions">
      <%= render 'questions/questions', questions: @questions %>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">疑問を追加</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model:@question, url: questions_path do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :title, "疑問点・調べること" %>
            <%= f.text_field :title, class:"form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit "追加する", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>