<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Encyclopedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark top-navigation">
      <div class="container">
        <h2><%= link_to "Encyclopedia", root_path %></h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="search-form ml-5 text-nowrap">
          <%= form_with url: search_summaries_path, method: :get, local: true do |f| %>
            <%= f.text_field :keywords, class: "search_form", placeholder: "キーワードを入力", class: "rounded", size: "40x50"%>
            <%= f.submit '検索', class: "rounded btn-sm btn-primary" %>
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          　<li class="nav-item mr-5">
              <%= link_to "疑問を追加", root_path %>
            </li>
            <li class="nav-item mr-5">
              <%= link_to "ジャンルを追加", genres_path %>
            </li>
            <li class="nav-item">
              <%= link_to "新規投稿・投稿一覧", summaries_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
